## 230414 데이터프레임 과제
- 서울시인구.txt
- 서울시 자치구 년도별 CCTV 설치 현황_221231기준.csv

In [246]:
import pandas as pd
import numpy as np

1. cctv 데이터를 다음과 같이 만들어 cctv.csv 파일에 저장하세요.

``` 
            구별    CCTV댓수  최근증가율

            1 종로구 1715         20.69

            2 중구    2447         78.98

            3 용산구 2611          78.64

                    ...

In [247]:
filename = 'data/서울시 자치구 년도별 CCTV 설치 현황_221231기준.csv'
df = pd.read_csv(filename, encoding='euc-kr', thousands=',')

In [248]:
#1) 첫번째 행인 계는 삭제한다.
df.drop(0, inplace=True)    # drop([col,row])

#2) 최근증가율 구하고 열 만들기
df['최근증가율'] = (((df['2020년']+df['2021년']+df['2022년']) /
                    (df['2013년 이전 설치된 CCTV']+df['2013년']+df['2014년']+df['2015년']+df['2016년']+df['2017년']+df['2018년']))
                    * 100).round(2)
df.head(2)

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,최근증가율
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291,48.72
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137,58.97

In [249]:
#3)구별은 기존의 구분 열을 CCTV댓수는 기존의 총계 열을 이름만 변경한 것이다.
df.rename(columns={
    '구분': '구별',
    '총계': 'CCTV댓수',
    '최근증가율': '최근증가율'
}, inplace=True)


cctv = df[['구별','CCTV댓수','최근증가율']]
cctv.head()

    구별  CCTV댓수  최근 증가율
1  종로구    1980   48.72
2  중 구    2584   58.97
3  용산구    2847  120.33
4  성동구    4047   46.80
5  광진구    3480   66.33

In [250]:
# cctv 파일이름 변경/저장
cctv.to_csv('data/cctv.csv', index=False)

# cctv.csv 읽기
cctv = pd.read_csv('data/cctv.csv')
cctv.head()

    구별  CCTV댓수  최근 증가율
0  종로구    1980   48.72
1  중 구    2584   58.97
2  용산구    2847  120.33
3  성동구    4047   46.80
4  광진구    3480   66.33

2. 서울시 인구 데이터를 다음과 같이 만들어 pop.csv 파일에 저장하세요.
```
  구별     인구수  내국인  외국인  고령자  외국인비율  고령자비율
1 종로구 153789 144683  9106    27818   5.92           18.09
2 중구    131787 122499  9288    24392   7.05           18.51
3 용산구 237285 222953  14332   39070   6.04           16.47
```

In [251]:
# 파일불러오기
df1 = pd.read_csv('data/서울시인구.txt', sep='\t', skiprows=2, thousands=',')  
df1.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2021,합계,4426007,9736027,4721977,5014050,9509458,4618040,4891418,226569,103937,122632,2.15,1605416
1,2021,종로구,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818
2,2021,중구,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392
3,2021,용산구,111036,237285,115085,122200,222953,107210,115743,14332,7875,6457,2.01,39070
4,2021,성동구,134233,292672,142259,150413,285990,139380,146610,6682,2879,3803,2.13,46380

In [252]:
# '합계' 행 삭제
df1 = df1.drop(index=0,axis=0)
# del pop1['기간']

df1.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
1,2021,종로구,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818
2,2021,중구,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392
3,2021,용산구,111036,237285,115085,122200,222953,107210,115743,14332,7875,6457,2.01,39070
4,2021,성동구,134233,292672,142259,150413,285990,139380,146610,6682,2879,3803,2.13,46380
5,2021,광진구,167949,352627,169317,183310,339996,164058,175938,12631,5259,7372,2.02,51723

In [253]:
# coulmn명 변경
df1.rename(columns={
    '자치구': '구별',
    '계': '인구수',
    '계.1': '내국인',
    '계.2': '외국인',
    '65세이상고령자': '고령자',
}, inplace=True)

# DF 수정
pop = df1[['구별','인구수','내국인','외국인','고령자']]   # pop = df1.iloc[:, [1, 3, 6, 9, 13] ].copy(True)
pop.head()

    구별     인구수     내국인    외국인    고령자
1  종로구  153789  144683   9106  27818
2   중구  131787  122499   9288  24392
3  용산구  237285  222953  14332  39070
4  성동구  292672  285990   6682  46380
5  광진구  352627  339996  12631  51723

In [254]:
# '외국인비율' 열 추가(외국인 수/ 총 인구수 *100)
# '고령자비율' 열 추가(65세 이상 인구 수/ 총 인구수 *100)
# pop.apply(lambda x: round(x['외국인(고령자)']/x['인구수'] * 100, 2), axis=1)
import warnings
warnings.filterwarnings('ignore')

pop['외국인비율'] = (((pop['외국인'])/(pop['인구수']))*100).round(2)
pop['고령자비율'] = (((pop['고령자'])/(pop['인구수']))*100).round(2)
pop.head(2)

    구별     인구수     내국인   외국인    고령자  외국인비율  고령자비율
1  종로구  153789  144683  9106  27818   5.92  18.09
2   중구  131787  122499  9288  24392   7.05  18.51

In [255]:
# pop 파일 이름 변경/저장
pop.to_csv('data/pop.csv', index=False)

# pop 파일 읽기
pop = pd.read_csv('data/pop.csv')
pop

      구별     인구수     내국인    외국인    고령자  외국인비율  고령자비율
0    종로구  153789  144683   9106  27818   5.92  18.09
1     중구  131787  122499   9288  24392   7.05  18.51
2    용산구  237285  222953  14332  39070   6.04  16.47
3    성동구  292672  285990   6682  46380   2.28  15.85
4    광진구  352627  339996  12631  51723   3.58  14.67
5   동대문구  352006  337400  14606  62211   4.15  17.67
6    중랑구  391885  387350   4535  71682   1.16  18.29
7    성북구  440142  430528   9614  74709   2.18  16.97
8    강북구  302563  299182   3381  64333   1.12  21.26
9    도봉구  319373  317366   2007  64160   0.63  20.09
10   노원구  514946  510956   3990  88345   0.77  17.16
11   은평구  477173  473307   3866  87241   0.81  18.28
12  서대문구  315659  304819  10840  54268   3.43  17.19
13   마포구  378686  368905   9781  54582   2.58  14.41
14   양천구  450487  447302   3185  68627   0.71  15.23
15   강서구  579768  574315   5453  92558   0.94  15.96
16   구로구  421163  396754  24409  72611   5.80  17.24
17   금천구  244891  230811  14080  41041   5.75  16.76
18  영등포구  400908  376837  24071  62516   6.00  15.59
19   동작구  394364  385483   8881  66613   2.25  16.89
20   관악구  499449  485699  13750  79871   2.75  15.99
21   서초구  416167  412279   3888  60678   0.93  14.58
22   강남구  537800  533042   4758  78226   0.88  14.55
23   송파구  663965  658338   5627  97691   0.85  14.71
24   강동구  466472  462664   3808  74070   0.82  15.88